* {
  margin: 0;
  padding: 0;
  color: #000;
}
.main-menu {
  background-color: #262d52;

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  transition: ease all 0.5s;
}
.db {
  display: block;
}
.dn {
  display: none;
}
