* {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.slick-slide:nth-child(1) {
  background: orangered;
}

.slick-slide:nth-child(2) {
  background: blueviolet;
}

.slick-slide:nth-child(3) {
  background: yellow;
}

.slick-slide:nth-child(4) {
  background: purple;
}
.slick-slider {
  /* padding: 10px; */
}
.slick-slider span {
  width: 40%;
  display: inline-block;
  padding: 2.5%;
  margin: 2.5%;
  background: white;
}
/* :nth-child(2) {
  background: red;
} */
.slick-dots li {
  list-style: none;
  width: 30px;
  height: 5px;
  overflow: hidden;
  display: inline-block;
}
.slick-dots li button {
  width: 30px;
  height: 5px;
  background-color: aqua;
  display: inline-block;
  margin: 0 5px;
}

.banner .slick-slide {
  width: 100%;
  height: 500px;
}
.banner h3 {
  text-align: center;
  vertical-align: middle;
  display: block;
  padding: 40% 0;
}

.slick-slide h2 {
  border: 10px solid white;
  height: 200px;
  vertical-align: center;
  text-align: center;
  overflow: hidden;
}
.static {
  height: 300px;
  background: beige;
}

.container {
  max-width: 1250px;
}

.siteloader {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 111111111;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
}
.siteloader .loader-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header.site-header {
  padding-top: 42px;
}
header .hamburger {
  width: 100px;
  height: 100px;
  z-index: 11;
  background: #262d52;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger-box {
  width: 36px;
  height: 23px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.hamburger-box .menu-line {
  width: 100%;
  background: #fff;
  display: block;
  height: 3px;
}
.hamburger-box .menu-line.line-2 {
  margin: 7px 0;
}

header .logo-blk {
  max-width: 256px;
  flex: 0 0 256px;
}
header .fixed-menu-blk {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 348px;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 100;
}
header .fixed-menu-blk .ask-btn {
  padding: 35px 48px;
  background: #2163ff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
header .fixed-menu-blk .ask-btn a {
  font-size: 20px;
  font-family: "manier-medium";
  color: #fff;
}
header .site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  z-index: 99;
  padding-top: 42px;
}
header .site-navigation .inner-navigation {
  padding-top: 158px;
}
header .site-navigation .inner-navigation .nav-menu {
  min-width: 392px;
  position: relative;
  display: inline-block;
}
header .site-navigation .inner-navigation .nav-menu li {
  max-width: 392px;
  width: 100%;
  margin-bottom: 11px;
}
header .site-navigation .menu-item a {
  font-size: 32px;
  font-family: "DMSans-Medium";
  color: #fff;
}

header .site-navigation .nav-menu .sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  max-width: 392;
  margin-left: 229px;
  width: 100%;
  padding-top: 8px;
}
header .site-navigation .nav-menu .sub-menu li p {
  font-size: 24px;
  font-family: "DMSans-Regular";
  color: #fff;
  line-height: 32px;
}
